/* menu styles */
.menu {
  width: 100%;
  background: aliceblue;
}

div button a {
  font-family: Verdana;
  font-size: 16px;
  color: cadetblue;
}

#searchTable {
  padding: 25px;
}

/* svg styling */

button circle {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  stroke-linecap: butt;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -ms-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

button circle:hover {
  fill: #006633;
  stroke-dashoffset: 0;
  stroke-dasharray: 700;
  stroke-width: 5;
}

svg text {
  font-size: 40px;
  font-family: 'Verdana';
}
