<div class="container">
  <div class="row">
    <div class="col-12">
        <app-map></app-map>
    </div>
  </div>
  <div class="row">
      <div class="col-12">
          <button class="btn-primary" (click)="find()">Find My Bike Shop</button>
      </div>
  </div>

  <!--
  <div id="searchTable" class="row invisible">
    <div class="col-sm-12 col-md-8 col-lg-6">
          <table *ngIf="currentShop.name !== null">
            <tbody>
                <tr>
                  <td>{{currentShop.name}}</td>
                </tr>
                <tr>
                  <td><a href="tel+1{{currentShop.phone}}">{{currentShop.phone}}</a></td>
                </tr>
            </tbody>
          </table>
    </div>
  </div>
  -->

</div>
