<div class="menu col-12">
    <button><a href="./find">Find My Shop</a></button> | <button><a href="./wishlist">My Wishlist</a></button>
</div>
<div id="button-div" class="row" >
    <div class="col-12">
        <button (click)="find()" [disabled]="!dataHasReturned">
          <svg width="200" height="200">
              <circle id="find-my-shop-btn" cx="100" cy="100" r="98" stroke="yellow" stroke-width="5" fill="#0E8A77" />
              <text x="57" y="70" fill="white">Find</text>
              <text x="70" y="110" fill="white">My</text>
              <text x="52" y="150" fill="white">Shop</text>
          </svg>
      </button>
    </div>
</div>
<div id="closest-shop-div" class="row" hidden>
  <table>
    <tr>
      <th>Nearest Shop</th>
    </tr>
    <tr>
      <td>{{destinationShop}}</td>
    </tr>
    <tr>
        <td>{{destinationAddress}}</td>
    </tr>
    <tr>
        <td>
          <span class="glyphicon glyphicon-earphone">
            <a href="tel:1-{{destinationPhone}}">{{destinationPhone}}</a>
          </span>
        </td>
    </tr>
    <tr>
        <td>Distance: {{destinationDistance | number}} miles</td>
    </tr>
    <tr>
        <td><a href="/directions">Map It!</a></td>
    </tr>
    <tr>
        <td><a href="./turn-by-turn">Turn-by-turn directions</a></td>
    </tr>
  </table>
</div>
