<div class="col-sm-12 col-md-12 col-lg-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="3" scope="col">My Bike Shops</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shop of shops; index as i;">
        <td scope="col" class="col-sm-4">
          <a href="{{shop.url}}" id="shop-{{ i + 1 }}">
              {{shop.name}}
          </a>
        </td>
        <td scope="col" class="col-sm-5">
            {{shop.address.street}}, {{shop.address.city}}, {{shop.address.state}} {{shop.address.zip}}
        </td>
        <td scope="col" class="col-sm-4">
            <a href="tel:+1{{shop.phone}}">{{shop.phone | telephone }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
